# latest versions as of 2023-05-17
matplotlib==3.7.1  # visualizations
seaborn==0.12.2  # visualizations
plotly==5.14.1  # visualizations
scikit-learn==1.2.2  # ML library
pandas==2.0.1  # data structures library
pillow==9.5.0  # image processing and display library
nbformat==5.8.0  # Jupyter notebook format, required for Plotly in VS Code
nbconvert==7.4.0  # Jupyter notebook conversion, required for converting notebooks to HTML, PDF, etc.
ipykernel==6.23.1  # kernel for Jupyter notebooks